@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import 'additional-styles/rock-checkbox.css';
@import 'additional-styles/particle-button.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
    .bg-mainG {
        --tw-bg-opacity: 1;
        background-color: rgb(20 184 143 / var(--tw-bg-opacity));
      }
      
    .bg-mainP {
      --tw-bg-opacity: 1;
      background-color: rgb(108 54 125 / var(--tw-bg-opacity));
    }
    
    .bg-navG {
      --tw-bg-opacity: 1;
      background-color: rgb(15 138 107 / var(--tw-bg-opacity));
    }
    
    .bg-navP {
      --tw-bg-opacity: 1;
      background-color: rgb(77 38 89 / var(--tw-bg-opacity));
    }

    .to-mainG {
      --tw-gradient-to: #14b88f;
    }
    
    .to-mainP {
      --tw-gradient-to: #6c367d;
    }

}

